.vscode/**
.vscode-test/**
out/**
# For bundling @actions/* and @types/github-script
# node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
# For bundling @actions/* and @types/github-script d.ts
!**/*.d.ts
