.vscode/**
.vscode-test/**
out/**
# node_modules/** # For bundling @actions/* and @types/github-script
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!**/*.d.ts # For bundling @actions/* and @types/github-script d.ts
